<header>
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="share-box pull-right">
            <div class="title pull-left">Share</div>
            <div class="methods">
              <a href="#link-modal" data-toggle="modal" data-target="#link-modal"><span class="glyphicon glyphicon-link"></span></a>
              <a href="#share-modal" data-toggle="modal" data-target="#share-modal"><span class="glyphicon glyphicon-share"></span></a>
            </div>
          </div>
          <h2 class="pull-left">Market Summary: Results</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="summary">See the Nethermead analysis snapshot below. The Nethermead platform will allow healthcare companies to conduct deeper analysis of these items, run simulations and forecasts and generate plans for execution.
          </p>
        </div>
      </div>
  </div>
</header>
<hr />
<div class="container-fluid container-padded">
  <div class="row">
    <div class="col-md-12 result-title">
    <h3 class="grey pull-left tall"><%= @result.company.name_proper %></h3>
    <div class="circle-sm pull-left"><div class="product-class-abbr"><%= @result.product_class.abbr %></div></div>
    <span class="stateface stateface-replace stateface-<%= @result.state.abbreviation %> green pull-left"></span>
    <a class="pull-right edit-search" href="#"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
    </div>
  </div>
</div>

<div id="company-search"></div>


<div class="modal fade" id="link-modal" tabindex="-1" role="dialog" aria-labelledby="link-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="link-modal-label">Share Market Summary Link</h4>
      </div>
      <div class="modal-body">
        <input type="text" value="<%= url_for :controller => 'search', :action => 'show', :slug => @result.company.slug, :state => @result.state.state_name, :class => @result.product_class.abbr, :only_path => false %>" class="form-control">
        <div class="text-muted">Copy and paste the sharing URL.</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="share-modal" tabindex="-1" role="dialog" aria-labelledby="share-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="share-modal-label">E-mail Market Summary</h4>
      </div>
      <%= form_tag url_for(:controller => 'search', :action => 'share', :slug => @result.company.slug, :state => @result.state.state_name, :class => @result.product_class.abbr), {class: 'form'} do %>
      <div class="modal-body">
          <div class="form-group">
            <%= text_field 'email', nil, class: 'form-control', placeholder: 'E-mail Address', name: 'email', required: true %>
          </div>
          <div class="form-group">
            <%= text_area 'message', nil, class: 'form-control', placeholder: 'Enter message...', name: 'message', required: true %>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= submit_tag :Submit, class: 'btn btn-success' %>
      </div>
      <% end %>
    </div>
  </div>
</div>




<script type="text/javascript">
    $().ready(function() {
        var $company_search = $('#company-search');
        $company_search.hide();
        var company_search = new window.CompanySearch();
        var is_open = false;
        $('.edit-search').click(function(e) {
            e.preventDefault();
            if(is_open) {
                $company_search.slideUp();
            } else {
                $('#company-search').html(company_search.render().$el);
                company_search.prefill(
                        new window.Company(<%= @result.company.to_json.to_s.html_safe %>),
                        new window.Market(<%= @result.to_json(:include => [:product_class, :state]).to_s.html_safe %>
                        ));
                $company_search.slideDown();
            }
            is_open = !is_open;
            return false;
        });

    });
</script>