<header>
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="share-box pull-right">
            <div class="title pull-left">Share</div>
            <div class="methods">
              <a href="#link-modal" data-toggle="modal" data-target="#link-modal"><span class="glyphicon glyphicon-link"></span></a>
              <a href="#share-modal" data-toggle="modal" data-target="#share-modal"><span class="glyphicon glyphicon-share"></span></a>
              <a href="<%= url_for :controller => 'search', :action => 'export', :slug => @result.company.slug, :state => @result.state.state_name.downcase, :class => @result.product_class.abbr.downcase, :only_path => false, :format => "csv" %>" target="_blank"><span class="glyphicon glyphicon-save"></span></a>
            </div>
          </div>
          <h2 class="pull-left">Market Summary: Results</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="summary">See the Nethermead analysis snapshot below. The Nethermead platform will allow healthcare companies to conduct deeper analysis of these items, run simulations and forecasts and generate plans for execution.
          </p>
        </div>
      </div>
  </div>
</header>
<hr />
<div class="container-fluid container-padded">
  <div class="row">
    <div class="col-md-12 result-title">
    <h3 class="grey pull-left tall"><%= @result.company.name_proper %></h3>
    <div class="circle-sm pull-left"><div class="product-class-abbr"><%= @result.product_class.abbr %></div></div>
    <span class="stateface stateface-replace stateface-<%= @result.state.abbreviation %> green pull-left"></span>
    <a class="pull-right edit-search" href="#"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
    </div>
  </div>
</div>

<div id="company-search"></div>

<div class="container-fluid container-padded background-light-grey">
  <div class="row row-padded">
    <div class="col-md-12">
      <h3 class="purple">Know where you stand.</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 border-right">
      <b>Plan Rank</b>
      <p class="summary">Nethermead analyzes market data to gauge your health position.</p>
      <div class="number-highlight">#<%= @result.share_parent_in_state_rank %></div>
      <p class="text-muted"><strong>of <%= @result.num_similar_plans %> similar plans</strong></p>
    </div>
    <div class="col-md-4 border-right">
      <b>Market Share</b>
      <p class="summary">Review Market Share for effective marketing and growth strategies.</p>
      <div class="number-highlight">
	      <% market_share = @result.percentage_market_share.to_i %>
          <% if market_share >= 1 %>
          	<div class="number-highlight"><%= market_share.round %>%</div></li>
          <% else %>
          	<div class="number-highlight">&lt; 1%</div></li>
          <% end %>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-green slow-bar" id="market-share-graph" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" data-percentage="<%= @result.percentage_market_share %>">
          <span class="sr-only"><%= @result.percentage_market_share.to_i %>% Market Share</span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <b>Counties of Operation</b>
      <p class="summary">Use targeting and geomapping tools to visualize your competitive landscape.</p>
      <div class="county-competition-graphic pull-left">
        <span class="stateface stateface-<%= @result.state.abbreviation %> grey"></span>
      </div>
      <div class="county-competition-list pull-left">
        <ul>
          <% @result.search_results_county.limit(5).each do |county| %>
              <li><span class="county-name"><%= county.county_name %></span></li>
          <% end %>
          <% if @result.search_results_county.size > 5 %>
            <li>Additional Counties: <%= @result.search_results_county.size - 5 %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid container-padded">
  <div class="row row-padded">
    <div class="col-md-12">
      <h3 class="purple">Know Your Audience.</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <b>Available Market</b>
      <p class="summary">See the total insurable market opportunity against the uninsured consumer population.</p>
    </div>
    <div class="col-md-6">
      <b>Market Segment</b>
      <p class="summary">See market information on all competitors in a particular geography and product category.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="number-highlight"><%= number_with_delimiter(@result.state_enrolled, :delimiter => ',') %></div>
      <p class="text-muted"><strong>of <%= number_with_delimiter(@result.total_market, :delimiter => ',') %> people</strong></p>
    </div>
    <div class="col-md-4">
      <% if @result.total_market > 0 %>
      <% ((((@result.state_enrolled * 1.0)/@result.total_market)*100).to_i).times do |i| %>
      <span class="glyphicon glyphicon-user green"></span>
      <% end %>
      <% (((((@result.total_market - @result.state_enrolled)*1.0)/@result.total_market)*100).to_i).times do |i| %>
          <span class="glyphicon glyphicon-user grey"></span>
      <% end %>
      <% end %>
    </div>
    <div class="col-md-6">
      <ul class="market-segments">
        <% @result.market_segments.each do |market_segment| %>
            <li><div class="rank"><%= market_segment.rank_order %></div> <%= market_segment.segment.name %></li>
        <% end %>
      </ol>
    </div>
  </div>
</div>

<div class="container-fluid container-padded background-light-grey">
  <div class="row row-padded">
    <div class="col-md-12">
      <h3 class="purple">Keep tabs on the competition.</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 border-right">
      <b>Top Competitors</b>
      <p class="summary">Nethermead ranks and evaluates the competition.</p>

      <div class="state-competition-list pull-left">
          <ul>
            <% @result.state_competition.each do |competition| %>
                <li>
                <%= link_to(competition[0].truncate(21), @result.competitor_url(competition[2]), {class: 'company-name', title: competition[0]})%>
                
                <% market_share = competition[1]*100
	                puts market_share
                %>
                <% if market_share >= 1 %>
                	<span class="grey pull-right"><%= market_share.round %> %</span></li>
                <% else %>
                	<span class="grey pull-right">&lt; 1 %</span></li>
                <% end %>
            <% end %>
          </ul>
      </div>
      <div class="state-competition-graph pull-left">
        <div class="state-top-competitor">
          <div class="state-top-competitor-percentage"><%= (@result.state_competition.first[1]*100).to_i %>%</div>
          <%= @result.state_competition.first[0] %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <b>Active Competitors</b>
      <p class="summary">See market information on all competitors in a particular geography and product category.</p>

      <ul class="no-bullet">
        <li><div id="hexagon"><%= @result.num_active_competitors %></div><br /><p class="summary text-center">Competitors</p></li>
        <li><p class="summary text-center">Competitor Saturation</p><h2 class="text-center text-upper"><%= @result.competition_status %></h2></li>
        <li><p class="summary text-center">Saturation Index</p><h2 class="text-center"><%= @result.share_parent_in_state_ss.to_i %></h2></li>
      </ul>
    </div>
  </div>
</div>


<div class="modal fade" id="link-modal" tabindex="-1" role="dialog" aria-labelledby="link-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="link-modal-label">Share Market Summary Link</h4>
      </div>
      <div class="modal-body">
        <input type="text" value="<%= url_for :controller => 'search', :action => 'show', :slug => @result.company.slug, :state => @result.state.state_name.downcase, :class => @result.product_class.abbr.downcase, :only_path => false %>" class="form-control">
        <div class="text-muted">Copy and paste the sharing URL.</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="share-modal" tabindex="-1" role="dialog" aria-labelledby="share-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="share-modal-label">E-mail Market Summary</h4>
      </div>
      <%= form_tag url_for(:controller => 'search', :action => 'share', :slug => @result.company.slug, :state => @result.state.state_name.downcase, :class => @result.product_class.abbr.downcase), {class: 'form'} do %>
      <div class="modal-body">
          <div class="form-group">
            <%= text_field 'email', nil, class: 'form-control', placeholder: 'E-mail Address', name: 'email', required: true %>
          </div>
          <div class="form-group">
            <%= text_area 'message', nil, class: 'form-control', placeholder: 'Enter message...', name: 'message', required: true %>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= submit_tag :Submit, class: 'btn btn-success' %>
      </div>
      <% end %>
    </div>
  </div>
</div>



<script src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript">
    $().ready(function() {
        $('#market-share-graph').css('width',  function(){ return ($(this).attr('data-percentage')+'%')})
        var $company_search = $('#company-search');
        $company_search.hide();
        var company_search = new window.CompanySearch();
        var is_open = false;
        $('.edit-search').click(function(e) {
            e.preventDefault();
            if(is_open) {
                $company_search.slideUp();
            } else {
                $('#company-search').html(company_search.render().$el);
                company_search.prefill(
                        new window.Company(<%= @result.company.to_json.to_s.html_safe %>),
                        new window.Market(<%= @result.to_json(:include => [:product_class, :state]).to_s.html_safe %>
                        ));
                $company_search.slideDown();
            }
            is_open = !is_open;
            return false;
        });

        var width = 200,
                height = 200,
                radius = Math.min(width, height) / 2;

        var color = d3.scale.category20();

        var pie = d3.layout.pie()
                .value(function(d) { return d[1]; })
                .sort(null);

        var arc = d3.svg.arc()
                .innerRadius(radius - 40)
                .outerRadius(radius - 5);

        var svg = d3.select(".state-competition-graph").append("svg")
                .attr("width", width)
                .attr("height", height)
                .append("g")
                .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

        var data = <%= @result.state_competition.to_json.to_s.html_safe %>;

        var index = 0;
        $('.state-competition-list ul li').each(function(i, el) {
           $(el).css({color: color(index)});
           index++;
        });

        var path = svg.datum(data).selectAll("path")
                .data(pie)
                .enter().append("path")
                .attr("fill", function(d, i) { return color(i); })
                .attr("d", arc)
                .each(function(d) { this._current = d; });

        function arcTween(a) {
            var i = d3.interpolate(this._current, a);
            this._current = i(0);
            return function(t) {
                return arc(i(t));
            };
        }
    });
</script>