<header>
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="share-box pull-right">
            <div class="title pull-left">Share</div>
            <div class="methods">
              <a href="#link-modal" data-toggle="modal" data-target="#link-modal"><span class="glyphicon glyphicon-link"></span></a>
              <a href="#share-modal" data-toggle="modal" data-target="#share-modal"><span class="glyphicon glyphicon-share"></span></a>
            </div>
          </div>
          <h2 class="pull-left">Market Summary: Results</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="summary">See the Nethermead analysis snapshot below. The Nethermead platform will allow healthcare companies to conduct deeper analysis of these items, run simulations and forecasts and generate plans for execution.
          </p>
        </div>
      </div>
  </div>
</header>
<hr />
<div class="container-fluid container-padded">
  <div class="row">
    <div class="col-md-12 result-title">
    <h3 class="grey pull-left tall"><%= @result.company.name_proper %></h3>
    <div class="circle-sm pull-left"><div class="product-class-abbr"><%= @result.product_class.abbr %></div></div>
    <span class="stateface stateface-replace stateface-<%= @result.state.abbreviation %> green pull-left"></span>
    <a class="pull-right edit-search" href="#"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
    </div>
  </div>
</div>

<div id="company-search"></div>

<div class="container-fluid container-padded background-light-grey">
  <div class="row row-padded">
    <div class="col-md-12">
      <h3 class="purple">Know where you stand.</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 border-right">
      <b>Plan Rank</b>
      <p class="summary">Nethermead analyzes market data to gauge your health position.</p>
      <div class="number-highlight">#<%= @result.share_parent_in_state_rank %></div>
      <p class="text-muted"><strong>of <%= @result.num_similar_plans %> similar plans</strong></p>
    </div>
    <div class="col-md-4 border-right">
      <b>Market Share</b>
      <p class="summary">Review Market Share for effective marketing and growth strategies.</p>
      <div class="number-highlight"><%= @result.share_company_in_state * 100 %>%</div>
      <div class="progress">
        <div class="progress-bar progress-bar-green slow-bar" id="market-share-graph" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" data-percentage="<%= @result.share_company_in_state * 100 %>">
          <span class="sr-only"><%= @result.share_company_in_state * 100 %>% Market Share</span>
        </div>
      </div>
    </div>
    <div class="col-md-4 border-right">
      <b>Counties of Operation</b>
      <p class="summary">Use targeting and geomapping tools to visualize your competitve landscape.</p>
    </div>
  </div>
</div>

<div class="container-fluid container-padded">
  <div class="row row-padded">
    <div class="col-md-12">
      <h3 class="purple">Know Your Audience.</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <b>Available Market</b>
      <p class="summary">See the total insurable market opportunity against the uninsured consumer population.</p>
    </div>
    <div class="col-md-6">
      <b>Market Segment</b>
      <p class="summary">Learn about the communities you want to reach.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="number-highlight">23,455</div>
      <p class="text-muted"><strong>of 55,789 people</strong></p>
    </div>
    <div class="col-md-4">
      Information Dense Graph
    </div>
    <div class="col-md-6">
      <ul>
        <li>1. Market Opportunity</li>
        <li>2. Market Opportunity</li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid container-padded background-light-grey">
  <div class="row row-padded">
    <div class="col-md-12">
      <h3 class="purple">Keep tabs on the competition.</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 border-right">
      <b>Top Competitors</b>
      <p class="summary">Nethermead ranks and evaluates the competition.</p>

      <ul>
        <li><%= @result.company.name_proper %></li>
      </ul>
    </div>
    <div class="col-md-6">
      <b>Active Competitors</b>
      <p class="summary">See market information on all competitors in a particular geograph and product category.</p>

      <ul>
        <li><%= @result.company.name_proper %></li>
      </ul>
    </div>
  </div>
</div>


<div class="modal fade" id="link-modal" tabindex="-1" role="dialog" aria-labelledby="link-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="link-modal-label">Share Market Summary Link</h4>
      </div>
      <div class="modal-body">
        <input type="text" value="<%= url_for :controller => 'search', :action => 'show', :slug => @result.company.slug, :state => @result.state.state_name.downcase, :class => @result.product_class.abbr.downcase, :only_path => false %>" class="form-control">
        <div class="text-muted">Copy and paste the sharing URL.</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="share-modal" tabindex="-1" role="dialog" aria-labelledby="share-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="share-modal-label">E-mail Market Summary</h4>
      </div>
      <%= form_tag url_for(:controller => 'search', :action => 'share', :slug => @result.company.slug, :state => @result.state.state_name.downcase, :class => @result.product_class.abbr.downcase), {class: 'form'} do %>
      <div class="modal-body">
          <div class="form-group">
            <%= text_field 'email', nil, class: 'form-control', placeholder: 'E-mail Address', name: 'email', required: true %>
          </div>
          <div class="form-group">
            <%= text_area 'message', nil, class: 'form-control', placeholder: 'Enter message...', name: 'message', required: true %>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= submit_tag :Submit, class: 'btn btn-success' %>
      </div>
      <% end %>
    </div>
  </div>
</div>




<script type="text/javascript">
    $().ready(function() {
        $('#market-share-graph').css('width',  function(){ return ($(this).attr('data-percentage')+'%')})
        var $company_search = $('#company-search');
        $company_search.hide();
        var company_search = new window.CompanySearch();
        var is_open = false;
        $('.edit-search').click(function(e) {
            e.preventDefault();
            if(is_open) {
                $company_search.slideUp();
            } else {
                $('#company-search').html(company_search.render().$el);
                company_search.prefill(
                        new window.Company(<%= @result.company.to_json.to_s.html_safe %>),
                        new window.Market(<%= @result.to_json(:include => [:product_class, :state]).to_s.html_safe %>
                        ));
                $company_search.slideDown();
            }
            is_open = !is_open;
            return false;
        });

    });
</script>